@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
    font-family: "Poppins", sans-serif;
    outline: none;
    scroll-behavior: smooth;
}
*::selection {
    background-color: #1a1a1a;
    color: #e2e2e2;
}